$font-size-base: 1rem !default; // 16px
$font-size-title: 1.25rem !default; // 20px
$font-size-sub-title: 1rem !default; // 16px
$font-size-paragraph: 0.875rem !default; // 14px

$margin-paragraph: 0;